body{
    background-color: #0e091c;
}
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 30px;
    border-radius: 10px;
    background-color: rgb(83, 6, 83);
    max-width: 50%;
    width: 400px;
    margin-bottom: 20px;
    & button{
        border-radius: 30px;
        background-color: rgb(10, 2, 116);
        height: 40px;
        border: none;
        font-weight: bold;
        color: white;
        cursor: pointer;

    }

    & button:hover{
        opacity: 0.8
    }

    & input{
        border: 1px solid #4e25ad;
        border-radius: 30px;
        height: 40px;
        background-color: #a08ad5;
        padding:10px;
        color: white
        
    
    }

    & input::placeholder{
        color:white;
        opacity: 1;
    }
    & h1{
        color:white
    }
}

